body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f7f7f7;
    color: #333;
}
  
#about-container{
    max-width: 900px; 
    margin: 0 auto;
    padding: 20px;
    text-align: left; 
}

h1{
    color: #ff5f6d;
}
  
p{
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 20px 0;
}
  
#about-content{
    display: flex;
    align-items: center; 
    gap: 20px; 
}
  
#about-content p{
    flex: 2.5; 
    margin: 0;
}
  
#about-content img{
    flex: 2.8; 
    max-width: 100%; 
    height: auto; 
    max-height: 600px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
  
ul{
    list-style-type: none;
    padding: 0;
}
  
ul li{
    font-size: 1.1rem;
    margin: 10px 0;
    color: #555;
}

body{
    background: linear-gradient(to bottom, #fbc2eb, #a6c1ee);    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.arrow-link-right{
    position: fixed;  
    bottom: 20px;     
    right: 20px;    
    font-size: 2rem; 
    color: #ff5f6d;
    text-decoration: none; 
    padding: 10px;
    transition: transform 0.3s ease; 
}
  
.arrow-link-right:hover{
    color: #ff3366;  
    transform: translateX(10px);
}

.arrow-link-left{
    position: fixed;  
    top: 20px;       
    left: 20px;       
    font-size: 2rem; 
    color: #ff5f6d; 
    text-decoration: none; 
    padding: 10px;
    transition: transform 0.3s ease; 
}
  
.arrow-link-left:hover{
    color: #ff3366;  
    transform: translateX(10px); 
}